html {
    scroll-behavior: smooth;
}

body {
    background-color: #1a1917;
    font-family: "Computer Modern", serif;
    font-size: 1.8rem;
    color: #e8e0d0;
    display: flex;
    padding: 2rem;
    padding-top: 0rem !important;
}

hr {
    margin-top: 2rem;
    opacity: 0.6;
}

h2 {
    margin-bottom: 4rem;
}

h1, h2, h3 {
    font-family: "Playfair Display", serif;
}

.newspaper-p:first-letter {
  font-family: "UnifrakturMaguntia", cursive;
  margin-right: 8px;
  float: left;
  font-weight: bold;
  font-size: 60px;
  font-size: 6rem;
  line-height: 10px;
  line-height: 1rem;
  text-transform: uppercase;
}

.sidebar {
    font-size: 1.6rem;
    position: sticky;
    top: 0;
    height: 100vh;
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 2rem;
}

.sidebar a {
    opacity: 0.6;
    text-decoration: none;
    color: #ccc;
    line-height: 2.2;
    transition: color 0.2s ease;
}  

.sidebar a:hover {
    opacity: 1;
}


.sidebar a.h2 {
    padding-left: 0.5rem;
    color: #e8e0d0;
}

.sidebar a.h3 {
    padding-left: 1.5rem;
    font-size: 0.85em;
}

.sidebar a.active {
    opacity: 1;
    color: #e8e0d0;
}

.main-section {
    max-width: 800px;
    line-height: 2;
}

pre {
    overflow-x: auto;
    filter: drop-shadow(8px 8px 0px #737270);
    font-size: 1.4rem;
}

code:not(pre code) {
    color: #a8c8e8;
    border: 1px solid #2a3a5c;
    background: #111825;
    padding: 0.1em 0.4em;
    font-size: 1.5rem;
    vertical-align: baseline;
    position: relative;
    top: -0.05em;
}