<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- to do this shouldnt be on all pages -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="icon" type="image/png" href="/assets/images/nodejs_logo.png">
    $$CSS_LINKS$$
    <title>$$DOCUMENT_TITLE$$</title>
</head>
<body>

    <nav>
        <a href="/" ><img id="logo" alt="nodejs logo" src="/assets/images/nodejs-logo.png"></a>
        <a href="/about">About</a>
        
    </nav>
    <main>