body {
    background: linear-gradient(90deg, #05050a 0.000%, #05050a 7.692%, #090a0e calc(7.692% + 1px), #090a0e 15.385%, #0d0e12 calc(15.385% + 1px), #0d0e12 23.077%, #121316 calc(23.077% + 1px), #121316 30.769%, #16171a calc(30.769% + 1px), #16171a 38.462%, #1a1b1e calc(38.462% + 1px), #1a1b1e 46.154%, #1e1f22 calc(46.154% + 1px), #1e1f22 53.846%, #222326 calc(53.846% + 1px), #222326 61.538%, #26272a calc(61.538% + 1px), #26272a 69.231%, #292a2d calc(69.231% + 1px), #292a2d 76.923%, #2c2d30 calc(76.923% + 1px), #2c2d30 84.615%, #2e2f33 calc(84.615% + 1px), #2e2f33 92.308%, #303135 calc(92.308% + 1px) 100.000%);
    color: white;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
}

.form-div {
    background: #1c1c1c;
    max-width: 320px;
    width: 100%;
    padding: 40px;
    box-shadow: 0 0 10px black;
    text-align: center;
    min-height: 40vh;
    border-radius: 20px;
}

#password-alert {
    font-size: 0.8rem;
    color: red;
}

input {
    color: white;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
}

.button-1, .button-2 {
    min-width: 10vw;
    margin: 1rem;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 13px 23px;
    border: 1px solid #222222;
}

.button-1 {
    margin-top: 5rem;
    background: #2e2f33;
    color: white;
}

.button-2 {
    background: white;
    color: #222222;
}

.button-1:hover { background: #3e3f44; }
.button-2:hover { background: lightgrey; }

h2 {
    text-align: center;
    font-weight: bolder;
}

a { font-size: 1rem; }
a:link, a:visited { color: white; text-decoration: none; }
a:hover { color: #79baec; }

@keyframes fadeIn {
    0%   { transform: translateY(-100%); opacity: 0; }
    100% { transform: translateY(0%);    opacity: 1; }
}

.login-div, .signup-div {
    animation: 0.8s fadeIn;
}