:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
}

h1 {
    color: black;
    text-shadow: 0 0 8px white, 0 0 4px white;
    font-size: 96px;
}

h2 {
    color: white;
}

.page-bg {
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.login-bg {
    background-image: url("/login-background.png");
}

.home-bg {
    background-image: url("/home-background.png");
}

body {
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
}

.form-div {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 0 20px black;
    text-align: center;
    min-height: 40vh;
    margin-bottom: 20rem;
    border-radius: 20px;
}

input {
    display: block;
    width: 15vw;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    color: white;
    background-color: #1c1c1c;
    margin: 0.5rem auto 0;
}

.button-1, .button-2 {
    min-width: 10vw;
    margin: 0.5rem;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    padding: 13px 23px;
    border: 1px solid #222222;
}

.button-1 {
    margin-top: 5rem;
    background: #2e2f33;
    color: white;
}

.button-2 {
    background: rgba(0, 0, 0, 0.4);
    color: white;
}

.button-1:hover { background: #3e3f44; }
.button-2:hover { background: rgba(0, 0, 0, 0.8); }

h2 {
    text-align: center;
    font-weight: bolder;
}

a { font-size: 1rem; }
a:link, a:visited { color: white; text-decoration: none; }
a:hover { color: #79baec; }

@keyframes fadeIn {
    0%   { transform: translateY(-100%); opacity: 0; }
    100% { transform: translateY(0%);    opacity: 1; }
}

.login-div, .signup-div {
    animation: 0.8s fadeIn;
}